/* Configurações da Navbar */
.navbar {
    padding: 0.5rem 1rem;
}

.navbar-nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-grow: 1;
}

.custom-bg {
    background-color: #3786b5;
}

.navbar-brand img {
    width: 60px;
    height: 60px;
}

.nav-item {
    font-size: 1.2rem;
    margin: 0 15px;
}

.d-flex {
    justify-content: center;
}


.nav-link:hover {
    color: #0056b3;
}

.navbar-toggler {
    border-color: rgba(0, 0, 0, 0.1);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}



/* Configuração do Carrossel */
.carrossel {
    margin-top: 20px;
}


/* Configurações para os títulos */
.title {
    text-align: center;
    font-size: 4rem;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(21, 144, 169);
    text-transform: uppercase;
    /*Texto maisculo*/
}

.subTitle {
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(41, 118, 138);
}

.titleSecond {
    font-family: Georgia, 'Times New Roman', Times, serif;
}


/*Tipos de espaços*/
.space {
    margin-top: 200px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.spaceSecond {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


/* Configurações do meu card */
.custom-card {
    margin-bottom: 40px;
}


.custom-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.color-highlight {
    color: #4db6ac;
}

/*Cor*/
.color {
    background-color: #bbddf1;
}


/* Configurações do Figcaption */
figcaption {
    background-color: rgba(2, 111, 158, 0.8);
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    margin-top: 5px;
    color: #ffffff;

}


/*Tipos de Texto*/
.style {
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    color: rgb(253, 253, 253);
}

.text {
    font-family: cursive;
    text-align: center;
    font-size: 2rem;
    color: rgb(252, 252, 252);
}

/* Responsividade */
.responsive {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin: 10px;
}


/* Interações para a Navbar (dropdown) */
.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}


/* Efeito para deixar a legenda "mexendo" */
.figure {
    position: relative;
    overflow: hidden;
}

figure:hover figcaption {
    transform: translateY(-10px);
    transition: transform 0.3s ease;
}


/* Configuração para o meu footer */
.stylefooter {

    background-color: #3786b5;
    text-align: center;
    padding: 10px 0;
    width: 100%;

}


/*Para o body,html e main(apenas da subpáginas)*/
html,
body {
    height: 100%;
}

.body {
    display: flex;
    flex-direction: column;
}
main {
    flex: 1;
}

.hidden {
    display: none;
}


/*Página de contato */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}


.containerform {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    max-width: 1200px;
    margin: auto;
    background-color: #f4f4f4;
    border-radius: 8px;
}

.contact-info {
    width: 40%;
}

.contact-info h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

.contact-info p {
    margin-bottom: 10px;
    color: #333;
}

.social-media a {
    display: inline-block;
    margin-right: 10px;
}

.social-media img {
    width: 30px;
    height: 30px;
}

.contact-form {
    width: 50%;
}

.contact-form p {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #333;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

.contact-form textarea {
    height: 150px;
}

.contact-form button {
    padding: 10px 20px;
    background-color: #c8a165;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #b38b56;
}

.titleform {
    font-family: 'Times New Roman', Times, serif;
    color: #a70f0f !important;
    text-transform: uppercase;
}

/*button*/
.button {
    background-color: #c8a165;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #b38b56;
}


/*Página sobre nós*/

/*Para adicionar espaço em cima e embaixo da seção*/
.aboutus-container {
    padding: 50px 0;
}

/*Responsável pelas configurações da div que está abrangendo todo conteúdo*/
.aboutus-content {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.8);
    max-width: 900px;
    margin: 0 auto;
}

/*Para imagem*/
.aboutus-image {
    width: 300px;
    height: auto;
    margin-right: 20px;
    border-radius: 10px;
}

/*Para texto da página*/
.aboutus-text {
    font-size: 1.1rem;
}

.colorus {
    color: #a70f0f;
    font-family: 'Times New Roman', Times, serif;
}

/*Configuração para telas menores*/
@media (max-width: 768px) {
    .aboutus-content {
        flex-direction: column;
        text-align: center;
    }

    .aboutus-image {
        margin: 0 auto 20px;
    }
}